#create {
    width: 550px;
    height: 440px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgb(140, 177, 192);
    position: relative;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    align-items: center;
}

#crbutton {
    margin-top: -330px;
}

#createForm {
    width: 550px;
    height: 440px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgb(140, 177, 192);
    border-radius: 5px;
    position: relative;
}

#cancel {
    margin-top: 8px;
    float: right;
    margin-right: 10px;
}

#cbutton {
    margin-top: 8px;
    float: right;
}

#ft {
    margin-left: 3px;
    margin-right: 3px;
}

@media (max-width: 800px) {
    #create {
        width: 95vw;
        text-align: center;
        height: 400px;
        max-width: 550px;
    }

    #createForm {
        width: 95vw;
        height: 400px;
        max-width: 550px;
    }

    #crbutton {
        margin-top: -160px;
    }

}