#update {
    margin-top: -15px;
    float: right;
    margin-right: -15px;
}

#eplaycancel {
    margin-top: -15px;
    float: right;
    margin-right: 5px;
}

#epalerterror {
    margin-bottom: 25px;
}