#playlist {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    position: relative;
    border-radius: 5px;
}

#mosaic {
    height: 87px;
    float: right;
    margin-top: -11px;
    margin-right: -19px;
}

#spinner {
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

#header {
    height: 90px;
}

#deletebuttonpl {
    margin-top: -15px;
    float: right;
    margin-right: -15px;
}

#editbuttonpl {
    margin-top: -15px;
    float: right;
    margin-right: 5px;
}

#playlistname {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 380px;
}
