#preset {
    width: 550px;
    height: 440px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgb(140, 177, 192);
    position: relative;
    border-radius: 5px;
}

#pname {
    margin-left: 8px;
    margin-top: 3px;
    font-weight: bold;
}

#rlimit {
    margin-top: -20px;
    margin-right: 10px;
    float: right;
}

#button {
    float: right;
    margin-right: 5px;
    margin-top: -22px;
}

#deletebutton {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 438px;
}

#editbutton {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 343px;
}

#playlists {
    overflow-y: scroll;
    overflow: auto;
    height: 350px;
    margin-top: 20px;
}

#weights {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}

#wbox {
    width: 55px;
    float: right;
}

#ewrow {
    margin-top: 10px;
}

#eplbody {
    max-height: 340px;
    overflow-y: scroll;
    overflow: auto;
}

#wdesc {
    font-size: small;
}

#totalnum {
    font-weight: bold;
    margin-right: 52px;
    float: right;
    margin-top: -6px;
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
    float: left;
    margin-left: 15px;
    margin-top: -6px;
    margin-bottom: 10px;
}

#ewalert {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}