#preset {
    width: 550px;
    height: 440px;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 2px solid black;
    background-color: rgb(140, 177, 192);
    position: relative;
    border-radius: 5px;
}

#pname {
    margin-left: 8px;
    margin-top: 6px;
    margin-bottom: -4px;
    font-weight: bold;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#rlimit {
    margin-top: -20px;
    margin-right: 10px;
    float: right;
}

#button {
    float: right;
    margin-right: 5px;
    margin-top: -22px;
}

#deletebutton {
    bottom: 0;
    margin-right: 5px;
    float: right;
    margin-top: 5px;
}

#editbutton {
    bottom: 0;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#playlists {
    overflow-y: scroll;
    overflow: auto;
    height: 350px;
    margin-top: 20px;
}

#weights {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 10px;
}

#wbox {
    width: 80px;
    float: right;
}

#ewrow {
    margin-top: 10px;
}

#eplbody {
    max-height: 340px;
    overflow-y: scroll;
    overflow: auto;
}

#wdesc {
    font-size: small;
}

#totalnum {
    font-weight: bold;
    margin-right: 52px;
    float: right;
    margin-top: -6px;
    margin-bottom: 10px;
}

#total {
    font-weight: bold;
    float: left;
    margin-left: 15px;
    margin-top: -6px;
    margin-bottom: 10px;
}

#ewalert {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

#noprem {
    margin-top: 20px;
}

#sstitle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 800px) {
    #preset {
        width: 95vw;
        max-width: 550px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {
    #rlimit {
        display: none;
    }
}