#aboutinfo {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 900px;
    border: 2px solid gray;
    background-color: white;
    position: relative;
    border-radius: 3px;
}

#abouttitle {
    text-align: center;
    margin-top: 10px;
}

#story {
    margin-top: 10px;
}

.subnavcont {
    max-width: 930px;
    margin-top: 20px;
}

.subnav {
    border-radius: 3px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.contentcol {
    margin-bottom: 10px;
    max-height: 745px;
    overflow-y: scroll;
    overflow: auto;
}

@media (max-width: 500px) {
    #aboutinfo {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .nav-link {
        font-size: 13px;
    }

    #brandd {
        font-size: 15px;
    }

    #privacy {
        padding-left: 0px;
    }

    #contact {
        padding-right: 0px;
    }
}
